@charset "UTF-8";

body{
    background-color: rgb( 43, 144, 136);
    color:rgba(0, 0, 0, 1)
}

.titulo { 
    position: top;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);    
    color: rgb(25, 39, 40)
}
button {
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(25, 39, 40);
    width: 49%;
    height: 700px;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 4px 4px 20px rgba(0,0,0,.4);
    border: none;
    border-radius: 10px;
    background: rgb(43,144,136);
}

button:hover{
    background: rgb(15,86,80);
}

/* background-color:rgb(43, 144, 136); 